# Ignorar volume da base de dados MySQL (binários)
db_data/

# Opcional: ignorar moodledata se for muito pesada ou gerada dinamicamente
moodledata/

# Ignorar ficheiros temporários
*.log
.DS_Store

# Node/npm stuff (se usares futuramente)
node_modules/

# Ignorar a diretoria de logs
uni-analytics/logs/

# Ignorar base de dados local
uni-analytics/db/uniAnalytics.db

# Ignorar a diretoria de backups
uni-analytics/backups/